body > nav.navlink {
    --divider-style: 2px solid gray;
    z-index: 1000;
    position: sticky;
    top: calc(var(--border-thickness) * -1);
    background-color: var(--fake-white);
    padding: 8px;
    margin: 4px 0;
    border-top: var(--divider-style);
    border-bottom: var(--divider-style);
}

body > nav.navlink > a {
    font-size: 22px;
    text-decoration: none;
    margin: 0 4px;
}

body > nav.navlink > a:hover {
    text-decoration: underline;
}

footer.copyright {
    margin-top: 16px;
    margin-bottom: 8px;
    text-align: center;
}

footer.copyright > a.snslink {
    font-size: 36px;
    text-decoration: none;
    margin: 8px;
    color: var(--fake-black);
}

footer.copyright > a.snslink.bsky {
    color: #1185fe;
}

footer.copyright > p {
    font-family: 'Roboto Mono', var(--monospace-builtin-font-pref);
    font-size: 18px;
}